mat-form-field {
  width: 100%;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.itemimg {
  display: block;
  max-width: 400px;
  max-height: 200px;
  width: auto;
  height: auto;
}

/* 
mat-expansion-panel-header {
  background-color: #7D3C98;
  color: white !important;
  height: 70px !important;;
}

mat-expansion-panel-header:hover {
  background-color: #7D3C98 !important;
  color: white !important;
  height: 70px !important;;
}

 */
@media (min-width: 576px) {

  .container {
    width: 100% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

  .container {
    width: 70% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}
