<div class="container">
  <mat-toolbar color="primary">
    <i class="material-icons">motorcycle</i>
    <span>&nbsp;&nbsp;Rider Registration / Pendaftaran Rider</span>
    <span class="fill-remaining-space"></span>
    <span> <button mat-button>FAQ</button> </span>
  </mat-toolbar>
  <form [formGroup]="profileForm">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data / Data Peribadi
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <input formControlName="name" required="true" matInput placeholder="Full Name / Name Penuh">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <input formControlName="nickname" required="true" matInput placeholder="Nick Name / Nama samaran">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field>
                  <mat-label>Nationality / Warga negara</mat-label>
                  <mat-select formControlName="nationality"
                              (selectionChange)="onNationalityChange()"
                              required="true">
                    <mat-option value="Malaysia">
                      Malaysian
                    </mat-option>
                    <mat-option value="Other">
                      Other / Bukan Malaysia
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          <div class="col-6">
            <mat-form-field>
              <input *ngIf="isLocal" formControlName="icno" 
                     required="true" 
                     matInput
                     mask='000000-00-0000' 
                     placeholder="NRIC / IC No / Passport No">
              <input *ngIf="!isLocal" formControlName="icno" 
                     required="true" 
                     matInput
                     placeholder="Passport No">
            </mat-form-field>
          </div>
         
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <input formControlName="dob" required="true" id="dob" matInput [matDatepicker]="picker"
                placeholder="DOB / Tarikh Lahir">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <mat-label>Gender / Jantina</mat-label>
              <mat-select formControlName="gender" required="true">
                <mat-option value="Male">
                  Male / Lelaki
                </mat-option>
                <mat-option value="Female">
                  Female / Perempuan
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact / Hubungan
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Mobile No1 / Telefon Bimbit1</mat-label>
              <!-- <input formControlName="mobil1" required="true" matInput placeholder="Mobile No1 / Telefon Bimbit1"> -->
              <ngx-mat-intl-tel-input                   
                   [onlyCountries]="['my']"
                   [enableAutoCountrySelect]="true" 
                   [enablePlaceholder]="true" 
                   name="phone" 
                   required="true"
                   formControlName="mobil1" #phone>
              </ngx-mat-intl-tel-input>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>               
                    <mat-label>Mobile No2 / Telefon Bimbit2</mat-label>
                    <!-- <input formControlName="mobil1" required="true" matInput placeholder="Mobile No1 / Telefon Bimbit1"> -->
                    <ngx-mat-intl-tel-input                   
                         [onlyCountries]="['my']"
                         [enableAutoCountrySelect]="true" 
                         [enablePlaceholder]="true" 
                         name="phone" 
                         formControlName="mobil2" #phone>
                    </ngx-mat-intl-tel-input>                 
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field>
                <mat-label>Emergency Contact / Talian Kecemasan</mat-label>
                <!-- <input formControlName="mobil1" required="true" matInput placeholder="Mobile No1 / Telefon Bimbit1"> -->
                <ngx-mat-intl-tel-input                   
                     [onlyCountries]="['my']"
                     [enableAutoCountrySelect]="true" 
                     [enablePlaceholder]="true" 
                     required="true"
                     name="phone" 
                     formControlName="ermecency" #phone>
                </ngx-mat-intl-tel-input>  
             
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <input formControlName="contact" required="true" matInput placeholder="Contact Relationship / Hubungan">
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Working Experience / Pengalaman bekerja
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <input formControlName="vehicle" required="true" matInput placeholder="Vehicle No / Nombor Kenderaan">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <input formControlName="driving" required="true" matInput
                placeholder="Driving License No / No Lesen Memandu">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <input formControlName="working1" matInput placeholder="Experience 1 / Pengalaman 1">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <input formControlName="working2" matInput placeholder="Experience 2 / Pengalaman 2">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <input formControlName="stardate" required="true" id="dwork" matInput [matDatepicker]="picker2"
                placeholder="Available Date / Tarikh Sedia Berkerja">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <input formControlName="remark" matInput placeholder="Remark / Catatan">
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider>
    <mat-toolbar color="primary">
      <button type="submit" 
              mat-raised-button
              (click)="saveReg()" 
              [disabled]="!profileForm.valid">
              <i class="material-icons">send</i>
               Submit / Hantar</button>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </form>
</div>
