/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html,body {
    background-color: #85C1E9 ;
}

body {
    overscroll-behavior-y: contain;
    font-family: 'Roboto', sans-serif;
}